@{
    ViewData["Title"] = "Legacy Plate Web";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the legacy web administration system for the ACW:Serverless Workshop</p>
</div>
